.container {
  display: flex;
  margin: 0;
  flex-flow: row wrap;
}

.panel {
  min-width: 460px !important;
  padding: var(--px-8) !important;

  & > div {
    margin: 0 !important;
    border-radius: 10px;
  }

  code {
    padding: var(--px-8) !important;
  }
}

.editor {
  min-width: 320px !important;
  padding: var(--px-8) !important;

  & > section {
    box-shadow: rgba(59, 76, 106, 0.05) 0px 0px 3px 0px;
    border-radius: 10px;
  }

  & > div > section {
    padding: var(--px-8) !important;
  }
}

.response {
  min-width: 320px !important;
  min-height: 250px !important;
  flex-grow: 1;
  margin: var(--px-8) !important;
  padding: var(--px-8) !important;
  background-color: rgb(246, 248, 250);
  border-radius: 10px;

  & > section {
    overflow: auto;
  }
}

.tool {
  padding-top: 0 !important;
}

.notool {
  padding: 0 !important;
  display: none;
}
