version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: npm
    directory: /website
    schedule:
      interval: weekly
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: pip
    directory: /typegraph
    schedule:
      interval: weekly
  - package-ecosystem: pip
    directory: /website
    schedule:
      interval: weekly
  - package-ecosystem: pip
    directory: /example
    schedule:
      interval: weekly
