*
# exceptions does not support wildcard: https://github.com/moby/moby/issues/30018
!/typegate/deno.json
!/typegate/deno.lock
!/typegate/import_map.json
!/typegate/.env.defaults
!/typegate/src
!/typegate/native
!/Cargo.lock
!/Cargo.toml
!/meta-cli
!/libs
!/.git
