.DS_Store
*.log*

.pytest_cache
.venv
__pycache__/
*.py[cod]
dist/
.ruff_cache

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars

target
**/*.rs.bk

typegate/workers
typegate/codegen
typegate/tests/prisma-migrations
typegate/tests/importers/copy/
.env
typegate/native/bindings.json
bindings

node_modules
build
.docusaurus
.cache-loader
website/vale/Google
recipe.json
*-debug.whiz.yaml

tmp/
coverage*

typegraph/deno/gen
typegraph/python_v2/typegraph/gen
