.DS_Store
*.log*

.pytest_cache
.venv
__pycache__/
*.py[cod]
dist/
.ruff_cache

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars

target
**/*.rs.bk

src/meta-lsp/ts-language-server/out/
src/meta-lsp/vscode-metatype-support/out/
src/meta-lsp/*.vsix

src/typegate/workers
src/typegate/codegen

tests/prisma-migrations
tests/e2e/cli/prisma-migrations
tests/importers/copy/
tests/**/*.wasm

.env
src/typegate/native/bindings.json
bindings

node_modules
build
.docusaurus
.cache-loader
docs/metatype.dev/vale/Google
recipe.json
*-debug.whiz.yaml

tmp/
coverage*

src/typegraph/deno/src/gen
src/typegraph/deno/README.md
src/typegraph/node
src/typegraph/python/typegraph/gen

*.egg-info/

examples/typegraphs/migrations
examples/typegraphs/**/*.wasm
src/pyrt_wit_wire/wit_wire

/.metatype/
