[submodule "typegate/native/libs/prisma-engines"]
	path = typegate/native/libs/prisma-engines
	shallow = true
	url = https://github.com/metatypedev/prisma-engines.git
	shallow = true
[submodule "typegraph/native/libs/prisma-engines"]
	path = typegraph/native/libs/prisma-engines
	shallow = true
	url = https://github.com/metatypedev/prisma-engines.git
	shallow = true
