include:
  - project: "metatype/templates"
    ref: main
    file: "metatype.yml"
  - project: "devops/templates"
    ref: main
    file: "kaniko.yml"
  - project: "devops/templates"
    ref: main
    file: "terraform.yml"

variables: &variables
  DENO_VERSION: "1.25.2"
  DENO_BINDGEN_URL: https://github.com/metatypedev/deno_bindgen/raw/main/cli.ts
  RUST_VERSION: "1.63.0"
  PNPM_VERSION: "7.9.3"

stages:
  - test
  - deploy

test:
  stage: test
  tags:
    - docker
  variables:
    <<: *variables
    TEST_POSTGRES_DB: "postgresql://postgres:password@postgres:5432/db?schema=test"
    TEST_POSTGRES_DB2: "postgresql://postgres:password@postgres:5432/db?schema=test2"

kaniko:
  stage: test
  tags:
    - docker
  only:
    - main
  variables:
    KANIKO_DOCKERFILE: typegate/Dockerfile
    KANIKO_EXTRA_ARGS: |
      --build-arg DENO_VERSION
      --build-arg DENO_BINDGEN_URL 
      --build-arg RUST_VERSION
      --use-new-run
      --single-snapshot

terraform:
  stage: deploy
  needs:
    - test
    - kaniko
  tags:
    - docker
  only:
    - main
  environment:
    name: production
  variables:
    TERRAFORM_PATH: "deploy/cloud/app"

package:
  stage: deploy
  needs:
    - test
    - kaniko
  tags:
    - docker
  only:
    - main
  variables:
    <<: *variables
