repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=768
      - id: check-ast
      - id: check-json
        exclude: .vscode/.*\.json
      - id: check-toml
      - id: check-yaml
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: end-of-file-fixer
        # exclude all generated files
        exclude: (typegate/deno.lock|.*\.snap$|typegate/src/typegraphs/.*\.json|website/docs/reference/)
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.1
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.5"
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/commitizen-tools/commitizen
    rev: 3.12.0
    hooks:
      - id: commitizen
        stages:
          - commit-msg
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
        args:
          - "--locked"
      - id: clippy
        args:
          - "--locked"
          - "--"
          - "--deny"
          - "warnings"
  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs,tmp && cd ../dev && deno fmt'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev)/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native,tmp && cd ../dev && deno lint'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev)/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/
      - id: version
        name: "Lock versions"
        always_run: true
        language: system
        entry: bash -c 'deno run -A dev/lock.ts --check'
        pass_filenames: false
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: insert-license
        name: "License MPL-2.0 python"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-MPL-2.0.txt
          - "--comment-style=#"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - python
        files: ^typegraph/
      - id: insert-license
        name: "License Elastic-2.0 rust"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-Elastic-2.0.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - rust
        files: ^(typegate|libs)/
      - id: insert-license
        name: "License MPL-2.0 rust"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-MPL-2.0.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - rust
        files: ^(meta-cli|typegraph)/
      - id: insert-license
        name: "License Elastic-2.0 deno"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-Elastic-2.0.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
        files: ^(typegate|dev)/
      - id: insert-license
        name: "License MPL-2.0 deno"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-MPL-2.0.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
        files: ^typegraph/
      - id: insert-license
        name: "License Elastic-2.0 typescript"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-Elastic-2.0.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
          - tsx
        files: ^website/
