repos:
  - repo: local
    hooks:
      - id: poetry-lock
        name: "Check poetry lock"
        always_run: true
        language: system
        entry: bash -c 'poetry check --lock'
        pass_filenames: false
      - id: poetry-lock-typegraph
        name: "Check typegraph poetry lock"
        always_run: true
        language: system
        entry: bash -c 'poetry -C ./typegraph/python check --lock'
        pass_filenames: false
      - id: version
        name: "Lock versions"
        always_run: true
        language: system
        entry: bash -c 'ghjk x lock-sed --check'
        pass_filenames: false
      - id: version
        name: "Resolve ghjk installs"
        always_run: true
        language: system
        entry: bash -c 'ghjk p resolve'
        pass_filenames: false
      - id: clean-deno-lock
        name: "Clean deno.lock"
        always_run: true
        language: system
        entry: ghjk x lock-clean-deno
        pass_filenames: false
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs,tmp,tests/e2e/nextjs && cd ../dev && deno fmt && cd ../typegraph/node && deno fmt --ignore=node_modules,dist'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev|typegraph/node)/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native,tmp,tests/e2e/nextjs && cd ../dev && deno lint'
        pass_filenames: false
        types:
          - ts
        files: ^(typegate|dev)/
      - id: es-lint
        name: Eslint typegraph
        language: system
        entry: bash -c 'cd typegraph/node/sdk && [ -f node_modules/.bin/eslint ] && pnpm eslint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^typegraph/node/sdk
        exclude: node_modules
      - id: es-lint
        name: Eslint website
        language: system
        entry: bash -c 'cd website && [ -f node_modules/.bin/eslint ] && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/
        exclude: ^website/typegraphs/
      - id: devtools-lint
        name: ESLint meta-lsp
        language: system
        entry: bash -c 'cd meta-lsp && pnpm lint --fix'
        pass_filenames: false
        types:
          - ts
        files: ^meta-lsp/
      # - id: cargo-udeps
      #   name: Check for unused cargo dependencies
      #   language: system
      #   entry: bash -c '[ -z "${CI+x}" ] && cargo-udeps udeps'
      #   pass_filenames: false
      #   types:
      #     - toml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args:
          - --maxkb=768
      - id: check-ast
      - id: check-json
        exclude: .vscode/.*\.json
      - id: check-toml
      - id: check-yaml
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: end-of-file-fixer
        # exclude all generated files
        exclude: (?x)(
          .ghjk/.*
          |.*deno.lock
          |.*\.snap$|typegate/src/typegraphs/.*\.json
          |website/docs/reference/
          |libs/pyrt_wit_wire/pyrt)
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.4
    hooks:
      - id: insert-license
        name: "License MPL-2.0 python"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-MPL-2.0.txt
          - "--comment-style=#"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - python
        files: ^typegraph/
      - id: insert-license
        name: "License Elastic-2.0 rust"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-Elastic-2.0.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
          - "--skip-license-insertion-comment=@generated"
        types_or:
          - rust
        files: ^(typegate|libs!(/metagen/.*))/
      - id: insert-license
        name: "License MPL-2.0 rust"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-MPL-2.0.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - rust
        files: ^(meta-cli|typegraph|libs/metagen)/
      - id: insert-license
        name: "License Elastic-2.0 deno"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-Elastic-2.0.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
          - "--skip-license-insertion-comment=@generated"
        types_or:
          - ts
        files: ^(typegate|dev)/
      - id: insert-license
        name: "License MPL-2.0 deno"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-MPL-2.0.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
        files: ^typegraph/
      - id: insert-license
        name: "License Elastic-2.0 typescript"
        args:
          #- --remove-header
          - --license-filepath=dev/license-header-Elastic-2.0.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
          - tsx
        files: ^website/
        exclude: website/typegraphs
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.2
    hooks:
      - id: check-dependabot
      - id: check-github-workflows
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.1.7"
    hooks:
      - id: ruff
      - id: ruff-format
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.13.0
    hooks:
      - id: commitizen
        stages:
          - commit-msg
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: clippy
        args:
          - "--locked"
          - "--all-features"
          - "--all-targets"
          - "--"
          - "--deny"
          - "warnings"
