[workspace]
resolver = "2"
members = [
  "libs/*",
  "libs/metagen/src/mdk_rust/static",
  "typegate/engine",
  "typegate/standalone",
  "meta-cli",
  "typegraph/core", ]

exclude = [
  "typegate/tests/runtimes/wasm/rust"
]

[workspace.package] 
version = "0.3.7-0"
edition = "2021"

[workspace.dependencies]
# deno = { path =  "../deno/cli"}
deno = { git = "https://github.com/metatypedev/deno", branch = "v1.41.0-embeddable" }

# internal crates
mt_deno = { path = "libs/deno/" }
common = { path = "libs/common/" }
typescript = { path = "libs/typescript/" }
metagen = { path = "libs/metagen/" }
typegate_engine = { path = "typegate/engine" }

# pinned to match version brought in
# https://github.com/metatypedev/deno/blob/librarify-cli/cli/Cargo.toml#L51
env_logger = "=0.10.0"
clap = "=4.4.17"
clap_complete = "=4.4.7"
reqwest = "0.11.20"
# https://github.com/WasmEdge/wasmedge-rust-sdk
wasmedge-sdk = {  version = "=0.13.2", features = ["standalone"] }
wasmedge-sys = "=0.17.5"
wasmedge-types = "=0.4.4"
# https://github.com/denoland/deno_ast/blob/main/Cargo.toml
swc_atoms = "=0.6.5"
swc_common = "=0.33.17"
swc_ecma_ast = "=0.110.17"
swc_ecma_codegen = "=0.146.54"
swc_ecma_parser = "=0.141.37"
swc_ecma_transforms_typescript = "=0.186.17"
swc_ecma_visit = "=0.96.17"

shadow-rs = "0.24"

serde = { version = "1.0.199", features = ["derive"] }
serde_json = "1.0.108"
anyhow = "1.0.75"
log = "0.4.20"
tokio = { version = "1.34.0" }
thiserror = "1.0.50"
indoc = "2.0.4"
indexmap = { version = "2.1.0", features = ["serde"] }
tempfile = "3.8.1"
regex = "1.10.2"
once_cell = "1.18.0"
