[workspace]
members = [
  "libs/*",
  "typegate/native",
  "typegate/tg_core",
  "meta-cli",
  "typegraph/core",
]

resolver = "2"

[workspace.package]
version = "0.2.5-0+dev"
edition = "2021"

[workspace.dependencies]
# internal crates
mt_deno = { path = "libs/deno/"}
common = { path = "libs/common/"}
typescript = { path = "libs/typescript/"}

# [profile.xtask]
# inherits = 'dev'
# opt-level = 0
# debug = 0
