[tool.poetry]
name = "metatype"
version = "0.1.14"
description = ""
authors = []

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
typegraph = { path = "typegraph/python", develop = true }
typegraph_next = { path = "typegraph/python_next", develop = true }
typegraph-std = "^0.0.1"

[tool.poetry.group.dev.dependencies]
pydoc-markdown = { git = "https://github.com/metatypedev/pydoc-markdown", branch = "develop" }
ruff = "^0.0.281"
black = "^23.7.0"
respx = "^0.20.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pyright]
venvPath = "."
venv = ".venv"
