
meta {
    workdir: meta
    watches: [
        .
    ]
    shell: "cargo run -- -C ../example dev"

    depends_on: [
        typegate
    ]
}

typegate {
    workdir: typegate
    watches: .
    ignores: [
        native/src
        "*.json"
        migrations
        tests
        target
        workers
    ]
    envs {
        TG_PORT: "7891"
    }
    shell: "./run.sh"

    depends_on: [
        typegate_native
    ]
}

clean_deno_bindgen_cache {
    shell: "rm -rf ~/Library/Caches/deno/plug/file"
}

typegate_native {
    workdir: typegate/native
    watches: .
    ignores: [
        "*.ts"
        "*.json"
    ]
    envs {
        OUT_DIR: "../.."
    }
    shell: "deno_bindgen"
}

website {
    workdir: website
    shell: pnpm start --no-open
}
