openapi: 3.0.3
info:
  title: Firebase Cloud Messaging (FCM)
  version: 1.0.0
servers:
  - url: https://fcm.googleapis.com/v1/
paths:
  /{project}/messages:send:
    post:
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: project
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PushRequest"
      responses:
        "200":
          description: "Ok, scheduled!"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessageOutput"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    PushRequest:
      type: object
      properties:
        validate_only:
          type: boolean
        message:
          $ref: "#/components/schemas/MessageInput"
      required:
        - message
    MessageInput:
      type: object
      properties:
        topic:
          type: string
        notification:
          $ref: "#/components/schemas/Notification"
      required:
        - topic
        - notification
    Notification:
      type: object
      properties:
        title:
          type: string
        body:
          type: string
      required:
        - title
        - body
    MessageOutput:
      type: object
      properties:
        name:
          type: string
      required:
        - name
