package.name = "metagen_rs_mdk"
package.edition = "2021"
package.version = "0.0.1"

[lib]
path = "lib.rs"
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
wit-bindgen = "0.22.0"


[profile.release]
strip = "symbols"
opt-level = "z"
