[package]
name = "typegate_engine"
edition.workspace = true
version.workspace = true

[dependencies]
anyhow = "1.0"
thiserror = "1.0.53"
tokio = { version = "1.35.1", features = ["full"] }
log = "0.4.20"
futures = "0.3"
once_cell = "1.18.0"
base64 = "0.21.5"
dashmap = "5.5.3"
num-traits = "0.2.17"
num-derive = "0.4.1"
temporal-client = { git = "https://github.com/temporalio/sdk-core", rev = "7f9755b" }
temporal-sdk-core-protos = { git = "https://github.com/temporalio/sdk-core", rev = "7f9755b" }
query-core = { git = "https://github.com/prisma/prisma-engines", tag = "5.5.2" }
query-connector = { git = "https://github.com/prisma/prisma-engines", tag = "5.5.2" }
request-handlers = { git = "https://github.com/prisma/prisma-engines", tag = "5.5.2" }
prisma-models = { git = "https://github.com/prisma/prisma-engines", tag = "5.5.2" }
datamodel-renderer = { git = "https://github.com/prisma/prisma-engines", tag = "5.5.2" }
user-facing-errors = { git = "https://github.com/prisma/prisma-engines", tag = "5.5.2" }
query-engine-metrics = { git = "https://github.com/prisma/prisma-engines", tag = "5.7.1" }
schema-core = { git = "https://github.com/prisma/prisma-engines", tag = "5.7.1" }
psl = { git = "https://github.com/prisma/prisma-engines", tag = "5.5.2" }
schema-connector = { git = "https://github.com/prisma/prisma-engines", tag = "5.5.2" }
tempfile = "3.9.0"
tap = "1.0.1"
convert_case = "0.6.0"
connection-string = "0.2.0"
mt_deno.workspace = true
common.workspace = true
typescript.workspace = true
wasmedge-sdk.workspace = true
wasmedge-sys.workspace = true
wasmedge-types.workspace = true
shadow-rs.workspace = true

[dev-dependencies]
env_logger.workspace = true

[build-dependencies]
shadow-rs.workspace = true
