[package]
name = "substantial"
edition.workspace = true
version.workspace = true

[dependencies]
anyhow.workspace = true
chrono.workspace = true
serde.workspace = true
serde_json.workspace = true
uuid.workspace = true

protobuf = "3.7.1"
# pinned due to url
redis = "=0.32.4"
