package.name = "metagen_fdk_rust_static"
package.edition = "2021"
package.version = "0.0.1"

[lib]
path = "lib.rs"
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = "1.0.89"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
wit-bindgen = "0.33.0"
