[package]
name = "meta-cli"
version = "0.0.3-dev.7"
edition = "2021"

description = "Free and open ecosystem for API composition."
authors = ["Metatype Contributors <support@metatype.dev>"]
license-file = "../LICENSE.md"
homepage = "https://metatype.dev"
documentation = "https://metatype.dev"
repository = "https://github.com/metatypedev/metatype"
include = ["src"]
keywords = ["api", "composition", "typesystem", "graphql", "ecosystem"]
categories = [
  "accessibility",
  "api-bindings",
  "data-structures",
  "development-tools",
  "wasm",
]

[[bin]]
name = "meta"
path = "src/main.rs"

[dependencies]
self_update = { version = "0.36.0", features = [
  "archive-tar",
  "archive-zip",
  "compression-flate2",
  "compression-zip-deflate",
  "compression-zip-bzip2",
] }
prisma-models = { git = "https://github.com/prisma/prisma-engines" }
lazy_static = "1.4.0"
tokio = { version = "1.26.0", features = ["full"] }
log = "0.4.17"
clap = { version = "4.1.8", features = ["derive"] }
crossbeam-channel = "0.5.7"
notify = "5.1.0"
tiny_http = "0.12.0"
ignore = "0.4.20"
globset = "0.4.10"
anyhow = "1.0.69"
indoc = "2.0.1"
serde = { version = "1.0.155", features = ["derive"] }
serde_json = { version = "1.0.94", features = ["preserve_order"] }
reqwest = { version = "0.11.14", features = ["json"] }
colored = "2.0.0"
question = "0.2.2"
dialoguer = "0.10.3"
flate2 = "1.0.25"
tar = "0.4.38"
base64 = "0.21.0"
common = { path = "../libs/common" }
typescript = { path = "../libs/typescript" }
walkdir = "2.3.2"
serde_yaml = "0.9.19"
pathdiff = "0.2.1"
openssl = { version = "0.10.45", features = ["vendored"] }
indexmap = { version = "1.9.2", features = ["serde"] }
lade-sdk = "0.3.1"
async-trait = "0.1.66"
async-recursion = "1.0.2"

[dev-dependencies]
assert_cmd = "2.0.8"
insta = "1.28.0"
project-root = "0.2.2"
