[package]
name = "meta-cli"
version = "0.2.5-0+dev"
edition = "2021"

description = "Declarative API development platform. Build serverless backends with zero-trust and less code, no matter where and how your (legacy) systems are."
authors = ["Metatype Contributors <support@metatype.dev>"]
license-file = "../dev/LICENSE-MPL-2.0.md"
homepage = "https://metatype.dev"
documentation = "https://metatype.dev"
repository = "https://github.com/metatypedev/metatype"
include = ["src"]
keywords = ["api", "composition", "typesystem", "graphql", "ecosystem"]
categories = [
  "accessibility",
  "api-bindings",
  "data-structures",
  "development-tools",
  "wasm",
]
build = "build.rs"

[[bin]]
name = "meta"
path = "src/main.rs"

[features]
default = []
typegate = ["dep:typegate_engine"]

[dependencies]
self_update = { version = "0.38.0", features = [
  "archive-tar",
  "archive-zip",
  "compression-flate2",
  "compression-zip-deflate",
  "compression-zip-bzip2",
] }
prisma-models = { git = "https://github.com/prisma/prisma-engines", tag = "5.5.2"  }
lazy_static = "1.4.0"
tokio = { version = "1.34.0", features = ["full"] }
futures = "0.3.29"
log = "0.4.20"
clap-verbosity-flag = "2.1.0"
crossbeam-channel = "0.5.8"
notify-debouncer-mini = { version = "0.4.1", default-features = false }
tiny_http = "0.12.0"
ignore = "0.4.20"
globset = "0.4.13"
anyhow = "1.0.75"
indoc = "2.0.4"
serde = { version = "1.0.192", features = ["derive"] }
serde_json = { version = "1.0.108", features = ["preserve_order"] }
reqwest = { version = "0.11.22", features = ["json"] }
colored = "2.0.4"
question = "0.2.2"
dialoguer = "0.11.0"
flate2 = "1.0.28"
tar = "0.4.40"
base64 = "0.21.5"
common = { path = "../libs/common" }
typescript = { path = "../libs/typescript" }
serde_yaml = "0.9.27"
pathdiff = "0.2.1"
openssl = { version = "0.10.59", features = ["vendored"] }
indexmap = { version = "2.1.0", features = ["serde"] }
lade-sdk = "0.9.1"
async-trait = "0.1.74"
async-recursion = "1.0.5"
itertools = "0.11.0"
enum_dispatch = "0.3.12"
git2 = { version = "0.18.1", features = ["vendored-libgit2"], default-features = false }
normpath = "1.1.1"
include_dir = "0.7.3"
chrono = { version = "0.4.31", features = ["serde"] }
directories = "5.0.1"
grep = "0.2.12"
semver = "1.0.20"
textwrap = "0.16.0"
actix = "0.13.1"
ctrlc = "3.4.1"
typegate_engine =  { workspace = true, optional = true }
shadow-rs = "0.24"
derive_more = "0.99.17"
env_logger.workspace = true
clap = { workspace = true, features = ["derive", "env"] }
clap_complete.workspace = true

[dev-dependencies]
assert_cmd = "2.0.12"
insta = "1.34.0"
project-root = "0.2.2"

[build-dependencies]
shadow-rs = "0.24"
