[package]
name = "meta-cli"
version = "0.1.10"
edition = "2021"

description = "Declarative API development platform. Build serverless backends with zero-trust and less code, no matter where and how your (legacy) systems are."
authors = ["Metatype Contributors <support@metatype.dev>"]
license-file = "../dev/LICENSE-MPL-2.0.md"
homepage = "https://metatype.dev"
documentation = "https://metatype.dev"
repository = "https://github.com/metatypedev/metatype"
include = ["src"]
keywords = ["api", "composition", "typesystem", "graphql", "ecosystem"]
categories = [
  "accessibility",
  "api-bindings",
  "data-structures",
  "development-tools",
  "wasm",
]

[[bin]]
name = "meta"
path = "src/main.rs"

[dependencies]
self_update = { version = "0.37.0", features = [
  "archive-tar",
  "archive-zip",
  "compression-flate2",
  "compression-zip-deflate",
  "compression-zip-bzip2",
] }
prisma-models = { git = "https://github.com/prisma/prisma-engines", tag = "5.0.0"  }
lazy_static = "1.4.0"
tokio = { version = "1.29.1", features = ["full"] }
futures = "0.3.28"
log = "0.4.19"
env_logger = "0.10.0"
clap = { version = "4.3.14", features = ["derive", "env"] }
crossbeam-channel = "0.5.8"
notify-debouncer-mini = { version = "0.3.0", default-features = false }
tiny_http = "0.12.0"
ignore = "0.4.20"
globset = "0.4.11"
anyhow = "1.0.72"
indoc = "2.0.3"
serde = { version = "1.0.171", features = ["derive"] }
serde_json = { version = "1.0.103", features = ["preserve_order"] }
reqwest = { version = "0.11.18", features = ["json"] }
colored = "2.0.4"
question = "0.2.2"
dialoguer = "0.10.4"
flate2 = "1.0.26"
tar = "0.4.39"
base64 = "0.21.2"
common = { path = "../libs/common" }
typescript = { path = "../libs/typescript" }
serde_yaml = "0.9.23"
pathdiff = "0.2.1"
openssl = { version = "0.10.55", features = ["vendored"] }
indexmap = { version = "2.0.0", features = ["serde"] }
lade-sdk = "0.7.0"
async-trait = "0.1.71"
async-recursion = "1.0.4"
clap-verbosity-flag = "2.0.1"
clap_complete = "4.3.2"
itertools = "0.11.0"
enum_dispatch = "0.3.12"
git2 = { version = "0.17.2", features = ["vendored-libgit2"], default-features = false }
normpath = "1.1.1"
include_dir = "0.7.3"
chrono = { version = "0.4.26", features = ["serde"] }
directories = "5.0.1"
grep = "0.2.12"
semver = "1.0.18"

[dev-dependencies]
assert_cmd = "2.0.12"
insta = "1.31.0"
project-root = "0.2.2"
