[package]
name = "meta"
version = "0.0.2-alpha.5"
edition = "2021"


[dependencies]
dprint-plugin-typescript = "0.78.0"
swc = "0.232.52"
swc_common = { version = "0.29.10", features = ["tty-emitter"] }
swc_ecma_ast = "0.94.14"
swc_ecmascript = { version = "0.205.47", features = ["visit", "transforms", "typescript-parser", "parser", "codegen"] }
swc_ecma_transforms = "0.198.26"
datamodel-renderer = { git = "https://github.com/prisma/prisma-engines" }
prisma-models = { git = "https://github.com/prisma/prisma-engines" }
lazy_static = "1.4.0"
tokio = { version = "1.22.0", features = ["full"] }
log = "0.4.17"
clap = { version = "4.0.27", features = ["derive"] }
crossbeam-channel = "0.5.6"
notify = "5.0.0"
tiny_http = "0.12.0"
ignore = "0.4.18"
globset = "0.4.9"
anyhow = "1.0.66"
indoc = "1.0.7"
serde = { version = "1.0.147", features = ["derive"] }
serde_json = "1.0.89"
reqwest = { version = "0.11.13", features = ["blocking", "json"] }
colored = "2.0.0"
question = "0.2.2"
dialoguer = "0.10.2"
flate2 = "1.0.25"
tar = "0.4.38"
base64 = "0.13.1"
common = { path = "../libs/common" }
walkdir = "2.3.2"
self_update = { version = "0.32.0", features = ["archive-tar"] }
