[tool.poetry]
name = "example"
version = "0.5.1-rc.1"
description = ""
authors = []

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
typegraph = "0.5.1-rc.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
