[tool.poetry]
name = "typegraph"
version = "0.0.2-alpha.13"
description = "Free and open ecosystem for API composition."
authors = [
    "Metatype Contributors <support@metatype.dev>",
]
readme = "README.md"
license = "ELv2"
homepage = "https://metatype.dev"
repository = "https://github.com/metatypedev/metatype"
include = [
    "typegraph/**/*",
    "README.md",
    "LICENSE.md"
]
keywords = [
    "api",
    "composition",
    "typesystem",
    "policy",
    "materializer",
    "runtime",
    "types"
]
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
]

[tool.poetry.scripts]
py-tg = "typegraph.utils.loaders:cmd"

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
dataconf = "^2.1.2"
httpx = {extras = ["http2"], version = "^0.22.0"}
orjson = "^3.8.2"
redbaron = "^0.9.2"
python-dotenv = "^0.21.0"
python-box = "^6.1.0"
furl = "^2.1.3"
frozendict = "2.3.4"
semver = "^2.13.0"
PyYAML = "^6.0"
deepmerge = "^1.1.0"
graphql-core = "^3.2.3"
gql = {extras = ["requests"], version = "^3.4.0"}
jsons = "^1.6.3"
ordered-set = "^4.1.0"
typing-extensions = "^4.4.0"
attrs = "^22.1.0"
astunparse = "^1.6.3"

[tool.poetry.dev-dependencies]
black = "^22.10.0"
pytest = "^7.2.0"
flake8 = "^5.0.4"
pytest-asyncio = "^0.19.0"
debugpy = "^1.6.3"
mypy = "^0.982"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
