{% if t_input != t_output -%}
from .{{ type_mod_name }}_types import use_types, {{ t_input }}, {{ t_output }}
{% else -%}
from .{{ type_mod_name }}_types import use_types, {{ t_input }}
{%- endif %}

@use_types
def {{ fn_name }}(inp: {{ t_input }}) -> {{ t_output }}:
    # TODO: write your logic here
    raise Exception("TODO: not implemented")
