[package]
name = "typegraph_core"
version = "0.5.0-rc.7"
edition = "2021"

[dependencies]
common.workspace = true
metagen.workspace = true

enum_dispatch.workspace = true
color-eyre.workspace = true
anyhow.workspace = true
paste.workspace = true

serde.workspace = true
serde_json.workspace = true
indoc.workspace = true
unindent.workspace = true

once_cell.workspace = true
regex.workspace = true
indexmap.workspace = true
ordered-float.workspace = true
graphql-parser.workspace = true

sha2.workspace = true
seahash.workspace = true

glob.workspace = true


[dev-dependencies]
insta = { workspace = true, features = ["glob"] }
ptree.workspace = true
indoc.workspace = true
