[tool.poetry]
name = "typegraph"
version = "0.3.3"
description = "Declarative API development platform. Build serverless backends with zero-trust and less code, no matter where and how your (legacy) systems are."
authors = ["Metatype Contributors <support@metatype.dev>"]
license = "MPL-2.0"
homepage = "https://metatype.dev"
repository = "https://github.com/metatypedev/metatype"
include = ["typegraph/**/*", "LICENSE.md"]
keywords = ["api", "composition", "typesystem", "graphql", "ecosystem"]
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python",
]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
wasmtime = "^13.0.2"
typing-extensions = "^4.8.0"
python-box = "^7.1.1"
astunparse = "^1.6.3"
