on:
  push:
    branches:
      - main

env:
  PNPM_VERSION: "8.8.0"
  NODE_VERSION: "20.8.0"
  POETRY_VERSION: "1.6.1"
  PYTHON_VERSION: "3.8"

jobs:
  changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            website:
              - '.github/**'
              - 'website/**'
    outputs:
      website: ${{ steps.filter.outputs.website }}

  deploy:
    needs: changes
    if: ${{ needs.changes.outputs.website == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
      - uses: actions/cache@v3
        with:
          path: .venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
      - uses: pnpm/action-setup@v2.4.0
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: false
      - env:
          TG_URL: https://demo.metatype.dev
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          poetry install --no-root
          cd website
          pnpm install --frozen-lockfile
          pnpm build
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: website/build
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          cname: metatype.dev
