on:
  push:
    branches:
      - main

env:
  PNPM_VERSION: "8.0.0"
  NODE_VERSION: "18.12.1"
  PYTHON_VERSION: "3.8"
  TG_URL: https://demo.metatype.dev

jobs:
  changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            website:
              - '.github/**'
              - 'website/**'
    outputs:
      website: ${{ steps.filter.outputs.website }}

  deploy:
    needs: changes
    if: ${{ needs.changes.outputs.website == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
      - uses: pnpm/action-setup@v2.2.4
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: false
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: ${{ runner.os }}-rust-${{ hashFiles('**/rust-toolchain.toml') }}-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - uses: actions/cache@v3
        with:
          path: .venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}
      - name: Install and build
        working-directory: website
        run: |
          pnpm install --frozen-lockfile
          pnpm build
      - name: Deploy typegraph
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip3 install ./typegraph
          # cargo run --locked --package meta-cli -- -C website deploy -g {{ env.TG_URL }} -u admin -p {{ secrets.DOCS_TG_ADMIN_PASSWORD }}}
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: website/build
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          cname: metatype.dev
